*{
    margin: 0;padding: 0;box-sizing: border-box;
}

header{
    width: 100%; height: 98vh;
    background-image:url('hamara ngh.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;   
}
main{
    width: 100%;height: 85vh;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
    color: white;
}
section{

}
section h3{
    font-size: 50px;
    font-weight: 200;
    letter-spacing: 3px;
    text-shadow: 1px 1px 2px black;
    color: #d11638;
}
section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px rgb(10, 9, 9);
    text-transform: uppercase;
    color: rgb(64, 24, 117);
}
section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}
section .btnone{
    background: #fff;
    color: #000; 
}
.btnone:hover{
    background: #d11638;
    color: white;
}
section .btntwo{
    background: #00b894;
    color: white;
}
.btntwo:hover{
    background: #2d19c9;
    color: #000; 
}
footer{
    position: fixed;
    bottom: 0%;
    width: 100%;height: 24%;
    text-align: center;
    padding: 10px 0;}
p.p14{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #7f2c96; 
    font-size: 28px;
    font-weight: 300;} 
h4{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #77429a; 
    font-size: 35px;
    font-weight: 300;}
h3{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #4614dd; 
    font-size:28px;
    font-weight: 300;}
p.p15{
    margin: 0;
    padding: 0;
    text-align: center;
    color: #621bdb; 
    font-size: 30px;
    font-weight: 300;}